.link-item {
    text-decoration: none;
  }
.job-item {
    display: flex;
    flex-direction: column;
    background-color: #202020;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 25px;
    margin-top: 10px;
    width: 60vw;
    
  }
@media screen and (max-width: 767px) {
    .job-item {
      width: 60vw;
      padding: 25px;
      border-radius: 15px;
      margin-bottom: 25px;
      margin: 15px;
      width: 60vw;
    }
}
.logo-title-location-container {
    display: flex;
    flex-direction: column;
  }
.title-heading {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto';
    margin-bottom: 0px;
  }
.title-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  .location-package-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.location-employee-container {
    display: flex;
    flex-direction: row;
}
.location-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-left: 5px;
}
.location-icon {
    color: #ffffff;
    font-size: 22px;
    margin-right: 6px;
}
.location-heading {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto';
}
.brief-case-icon {
    color: #ffffff;
    font-size: 22px;
    margin-right: 10px;
  }
.employee-type-container {
    display: flex;
    align-items: center;
    padding-left: 5px;
  }
.employee-type-heading {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto';
  }
.package-heading {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 500;
  }
.Company-openings-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.book-mark_btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: orange;
  width: 130px;
  border-radius: 10px;
  border-width: 0px;
  align-self: center;
  text-align: center;
  cursor: pointer;
}
.book-marked_btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(226, 16, 16);
  width: 130px;
  border-radius: 10px;
  border-width: 0px;
  align-self: center;
  text-align: center;
  cursor: pointer;
}